.bgcolor{
    background-color: black;
}

.weredigital{
    margin-left: 200px;
    font-size: 50px;
    margin-top: 70px;
}
.getstart{
    margin-left: 200px;
}


.hrmove{
    margin-top: 600px;
}
.marginwork{
    margin-left: 400px;
}

.viewmore{
    margin-left: 100px;
}

.colorhr{
    height: 2px;
    width: 100%;
    background-color: white;
    margin-top: 10px;
}
.footer{
    background-color: rgb(46, 38, 38);
}
.copyright{
    margin-left: 700px;
}
.atag a{
    
}